.form_register{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    margin: 10px auto;
    padding: 6px;
}
.form_register div{
    display: flex;
    border: 0.5px solid gray;
    width: 100%;
    margin-bottom: 5px;
}
.form_register div input{
    width: 95%;
    padding: 8px;
    outline: none;
}
.form_register div button{
    cursor: pointer;
}
