.cartpagecontainer{
    margin-right: auto;
    margin-left: autos;
}
.cartpageform input{
    width: 50px;
    border: 0.5px solid gray;
    outline: 0px;
    margin-left: 6px;
    margin-right: 6px;
}
.cartpageform button{
    border: 0px;
    font-size: 40px;
    cursor: pointer;
    background-color: black;
    height: fit-content;
    color:white;

}
