.no_sidebar_main_container{
    background-color: #f5f5f5;
}
.main_with_sidebar-container{
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    position: relative;
}
.my_main_sidebar{
    width: 250px;
    background-color: #333333;
    color: #ffffff;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    scrollbar-width: thin;
    z-index: 999;

}
.my_main_content_with_sidebar{
    margin-left: 250px;
    padding: 20px;
     flex: 1; /* THIS is the key */

}
.my_main_content_no_sidebar{
    width: 100%;
    padding: 20px;
}



@media (min-width: 480px) and (max-width: 767px) {
body{
    background-color: red;
}
.my_main_content_with_sidebar{
    margin-left: 0px !important;
    width: 100%;
}

.hidesidebarmobile{
       background-color: blue !important;
       display: none !important;
}
}
