body{
    position: relative;
    overflow-x: hidden;
}
.dialog_body{
    position: absolute;
    top:0;
    right: 50%;
    left: 50%;
    bottom: 0;
    background-color: transparent;
    width: max-content;
    height: 500px;
    width: 500px;
    z-index: 999999;
    border-radius: 7px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 10px;

}
.dialog_body .dialog_main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1px auto !important;
    background-color: black;
    max-width:300px;
    height: 100px;

}
.dialog_btn_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;
    width: 100%;

}
.dialog_btn_container button{
    color: white;
    cursor: pointer;
    background-color: grey;
    padding: 7px;
    border-radius: 6px;
}
.dialog_main_container p{
    color: white;
}

