.form_container{
    display: flex;
    flex-direction: column;
}
.form_container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    margin: 0px auto;
    background-color: var( --admin-div-bg-color);
    padding: 20px;
}
.form_container form div{
    margin: 3px 0px;
}
.form_container form div input, select,textarea{
    border: 0.5px solid gray;
    width: 100%;
    padding: 8px;
    outline: none;
    resize: none;
}
